h1, h2, figcaption, h3, a, h4, p, footer {
	font-family: Verdana;
}

h1 {
	font-size: 32px;
}

h2, h3 {
	font-size: 18px;
}

figcaption, footer {
	font-size: 10px;
}

a, h4 {
	font-size: 14px;
}

p {
	font-size: 12px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	text-align: center;